<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <h1>Hello, Flask!</h1>
    <h2>Dummy editing for the first commit.</h2>
    <h3>Hi, i am Berhak.</h3>
    <h3>My first commit.</h3>
    
    <h4>Hello world.</h4>
    <h5>I'm Umut.</h5>
    <h6>This is my first commit, I'm just trying to understand how things work.</h6>

    <footer>
      <div id="datetime">{{ current_time }}</div>
    </footer>
  </body>
</html>
